<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>ExpenseNet</display-name>
  <welcome-file-list>
    <welcome-file>initpage.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeLoginServlet</servlet-name>
    <url-pattern>/employeelogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeHomepageServlet</servlet-name>
    <servlet-class>com.revature.servlet.EmployeeHomepageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeHomepageServlet</servlet-name>
    <url-pattern>/employeehomepage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.revature.servlet.ProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReimbursementServlet</servlet-name>
    <servlet-class>com.revature.servlet.ReimbursementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementServlet</servlet-name>
    <url-pattern>/reimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
</web-app>